<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title>Login</title>
</head>
<body>
    <div class="specialform">
    <h2>Login Form</h2>
    <form method='post' action="/Authorization/Authorization">
        <p>
            <label>Login</label><br />
            <input name='login' />
        </p>
        <p>
            <label>Password</label><br />
            <input type='password' name='password' />
        </p>
        <input type='submit' value='Sign In' />
    </form>
    </div>
</body>
</html>