@model PharmacyMP.Models.User

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title>Registration</title>
</head>
<body>
    <div class="specialform">
        <h2>Registration Form</h2>
        <form method='post' action="/Authorization/Registration">
            <p>Enter the details below:</p>
            <p>
                <label>Name</label><br />
                <input type="text" asp-for="Name" />
                <span asp-validation-for="Name"></span>
            </p>
            <p>
                <label>Gender</label><br />
                <input type="text" asp-for="Gender" />
                <span asp-validation-for="Gender"></span>
            </p>
            <p>
                <label>Phone</label><br />
                <input type="text" asp-for="Phone" />
                <span asp-validation-for="Phone"></span>
            </p>
            <p>
                <label>Email</label><br />
                <input type="text" asp-for="Email" />
                <span asp-validation-for="Email"></span>
            </p>
            <p>
                <label>Login</label><br />
                <input type="text" asp-for="Login" />
                <span asp-validation-for="Login"></span>
            </p>
            <p>
                <label>Password</label><br />
                <input type="text" asp-for="Password" />
                <span asp-validation-for="Password"></span>
            </p>
            <input type='submit' value='Sign Up' />
        </form>
    </div>
</body>
</html>